* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}
#template {
  display: none;
}
button {
  font-size: 24px;
  margin: 20px 0;
}
li {
  margin: 5px 0;
}
.red {
  color: red;
}
.hidden {
  visibility: hidden;
}
